consensus/*
validator*/datadir/geth
validator*/datadir/geth.ipc
geth-second/*

# Deploy deposit
scripts/node_modules
scripts/artifacts
scripts/cache
scripts/yarn-error.log

# sed Edit
**/*-e

# mutate config
config/*
!config/genesis.json
!config/jwtsecret

# test command
test.sh

# output
genesis-generate-output
